*
!/.gitignore
!/nvim
!nvim/*
!/hypr
!hypr/*
!/foot
!foot/*
!/tmux
!tmux/*
!/wireplumber
!wireplumber/*
!/zathura
!zathura/*
!/zsh
!zsh/*
!/scripts
!scripts/*
!/ex
!ex/*
!/git
!git/*

# special handling for nchat
!/nchat
!/nchat/key.conf
!/nchat/ui.conf

# special handling for w3m
!/w3m
!w3m/config
!w3m/keymap
!w3m/bookmark.html
!/w3m/cgi-bin
!w3m/cgi-bin/*

# never show the ssh stuff
/zsh/ssh-stuff

# never show the password stuff
/zsh/password-stuff
