*
!/.gitignore
!/nvim
!nvim/*
!/hypr
!hypr/*
!/foot
!foot/*
!/tmux
!tmux/*
!/wireplumber
!wireplumber/*
!/zathura
!zathura/*
!/zsh
!zsh/*
!/scripts
!scripts/*

# special handling for nchat
!/nchat
!/nchat/key.conf
!/nchat/ui.conf
